.Modal {
    color: rgb(248, 242, 242);
    width: 20rem;
    height: 20rem;
    background-color: var(--baseColor);
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding-top: 2rem;

}

.Modal>img {
    margin-top: 1rm;
    margin-left: 5.5rem;
    width: 8rem;
    height: 5rem;

}

.ratting {
    background-color: white;
    width: 10rem;
    height: 2rem;
    margin-left: 4.5rem;
    margin-top: 2rem;
    border-radius: 8rem;
    color: var(--orange);
    padding-left: 1rem;
    padding-top: 0.1rem;
}

.ratting>span {
    margin-right: 0.1rem;


}

.thank-you {
    padding: 1.5rem;

}

.thank-you>:nth-child(1) {
    display: block;
    margin-left: 6rem;
    margin-bottom: 1rem;
    font-weight: bold;


}

.thank-you>:nth-child(2) {
    display: block;
    font-size: 13px;
   
    font-weight: lighter;
    margin-left: 0.6rem;

}
.thank-you>:nth-child(3) {
    display: block;
    font-size: 13px;
    margin-bottom: 6rem;
    font-weight: lighter;
    
    margin-left: 6rem;

}